body{
	font-family: 'Teko', sans-serif;
	background: grey;
  	color: #fff;
  	width: 1310px;	
}

div{
	display: block;
}

.all-systems{
	background: #83a0c6;
	font-size: 34px;
	font-weight: 14px;
	padding: 10px;
	padding-left: 20px;
	border-bottom: 1px solid #6f8cae;
}

.conditions{
	display: flex;
	width: 100%;
	background: #5d7896;
	flex-direction: row;
}

.conditions-block{
	display: flex;
	flex-direction: column;
	flex-basis: 20%;
	padding: 60px;
	border: 3px solid #6f8cae;
}

.pressure{
	font-size: 24px;
}

.pressure-units{
	display: flex;
	flex-direction: row;
}

.dimension{
	font-size: 24px;
	padding-top: 20px;
	padding-left: 10px;
}

.numbers{
	font-size: 70px;
}

.conditions-block span{
	font-size: 18px;
	color: #a2edf2;
}

.border-line {
    position: relative;
    left: 0px;
    padding-bottom: 15px;
}

.line-top {
    border-top: 5px solid #80abcc;
    width: 120px;
}

.line-bottom {
    position: absolute;
    bottom: 15px;
    left: 50px;
    border-top: 5px solid #a2edf2;
    width: 50px;
}



.white-line {
    border-left: 5px solid #fff;
    height: 12px;
    position: absolute;
    bottom: 15px;
    right: 30px;
    left: 74px;
}

.line-top-dashed {
    border-top: 5px dashed #80abcc;
    width: 120px;
}

.line-bottom-dashed {
    position: absolute;
    bottom: 15px;
    border-top: 5px solid #a2edf2;
    width: 20px;
}


.white-dashed-line {
    border-left: 5px solid #fff;
    height: 12px;
    position: absolute;
    bottom: 15px;
    right: 30px;
    left: 20px;
}



.technology{
	display: flex;
	flex-direction: row;
	background: #57718e;
}

.comunications{
	display: flex;
	flex-direction: row;
	flex-basis: 40%;
	border: 3px solid #6f8cae;
}

.tdrs{
	display: flex;
	flex-direction: row;
}

.fa-lock, .fa-dot-circle{
	color: #a2edf2;
}

.tdrs-6{
	padding: 5px 30px;
}

.tdrs-66{
	padding-right: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.recelv{
	padding-bottom: 20px;
}
.computers{
	display: flex;
	flex-basis: 20%;
	border: 3px solid #6f8cae;
	flex-direction: column;
	font-size: 24px;
}

.computers-padding{
	padding-bottom: 15px;
}

.nitrox{
	display: flex;
	flex-basis: 40%;
	border: 3px solid #6f8cae;
	flex-direction: column;
	font-size: 24px;
}


.nitrox-reserve{
	display: flex;
	flex-direction: column;
	padding: 30px 60px;
	border-bottom: 3px solid #6f8cae;


}
.perigree{
	padding: 30px 60px;
}

.nitrox-block-reserve{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nitrox-border-line{
	position: relative;
    left: 0px;
    padding-top: 10px;
}

.nitrox-line-top-dashed{
	border-top: 6px dashed #a2edf2;
    width: 400px;
}

.nitrox-white-dashed-line{
	border-left: 5px solid #fff;
    height: 12px;
    position: absolute;
    bottom: 0px;
    right: 30px;
    left: 400px;
}

.perigree span{
	font-size: 24px;
	color: #a2edf2;
	display: block;
	background: #64809f;
	padding: 5px;
}

.nitrox-reserve span{
	color: #a2edf2;
	font-size: 18px;

}

.recelvers{
	display: flex;
	flex-direction: column;
	padding: 25px;
	font-size: 26px;
}

.recelvers span{
	font-size: 18px;
	color: #a2edf2;
}

.recelvers-padding{
	padding-right: 80px;
	padding-left: 70px;
}

.computers span{
	font-size: 24px;
	color: #a2edf2;
}

.computers-block{
	padding: 30px 60px;
}

.parametrs{
	display: flex;
}

.graphic{
	display: flex;
	flex-basis: 90%;
	flex-direction: column;
	background: #57718e;
	border-bottom: 3px solid #6f8cae;	
}
	
.graphic-block{
	display: flex;
	flex-direction: row;
}

.graphic-panel{
    display: flex;
    justify-content: space-between;
    background: #57718e;
    border-top: 3px solid #6f8cae;
    border-left: 3px solid #6f8cae;
}

.graphic-panel-points{
	display: flex;
	flex-basis: 20%;
	font-size: 24px;
	color: #a2edf2;
	padding: 15px 40px;
	border-right: 3px solid #6f8cae;
	flex-direction: row;	
}

.more{
	display: flex;
	flex-basis: 60%;
}

.fa-angle-right, .fa-angle-up{
	display: flex;
	flex-basis: 40%;
}

.thrusters{
	display: flex;
	flex-basis: 33%;
	flex-direction: column;
}

.thrusters div{
	font-size: 24px;
	padding:30px;

}

.batteries{
	display: flex;
	flex-basis: 33%;
	flex-direction: column;
	padding:30px;
	border-right: 3px solid #6f8cae;
}

.life-support{
	display: flex;
	flex-direction: row;
	font-size: 34px;
	background: #64809f;
	justify-content: space-between;
	border-bottom: 3px solid #6f8cae;
	border-right: 3px solid #6f8cae;
	border-left: 3px solid #6f8cae;
}

.view-key{
	display: flex;
	padding:10px;

}

.structure-sheme{
	display: flex;
	flex-direction: row;
	background: #64809f;
	font-size: 24px;
}


.automation-sheme{
	display: flex;
	flex-direction: row;
	background: #64809f;
	font-size: 24px;
}

.graphic1{
	width: 860px;
}

.footer-block{
	display: flex;
	flex-direction: row;
	background: #64809f;
	border-bottom: 3px solid #6f8cae;
	border-left: 3px solid #6f8cae;
	border-top: 3px solid #6f8cae;
}

.systems{
	display: flex;
	flex-basis: 16%;
	padding: 10px;
	justify-content: center;
	font-size: 24px;
	border-right: 3px solid #6f8cae;
}

.bold-line:after{
    content: '';
    background: #6f8cae;
    left:90px;
    margin-top: -10px;
    width: 12%;
    height: 3px;
    display: inline-block;
    position: absolute;
}

.bold-line2:after{
	content: '';
    background: #6f8cae;
    left:310px;
    margin-top: -10px;
    width: 12%;
    height: 3px;
    display: inline-block;
    position: absolute;
}